{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <style type="text/css" media="screen">
        .s-styles {
            background: #f2f2f2;
            margin-top: 18rem;
            padding-bottom: 12rem;
            min-height: 900px;
        }

        .s-styles .section-intro h1 {
            margin-top: 0;
        }
    </style>
    <section id="styles" class="s-styles">

        <div class="row add-bottom">

            <div class="col-twelve">

                <h3>All {% if showPosts %}Posts{% else %}Comments{% endif %}</h3>


                {% for flashMessage in app.session.flashbag.get('success') %}

                    <h1 style="color: green"> {{ flashMessage }}</h1>

                {% endfor %}

                <div class="table-responsive">

                    <table style="border-collapse: collapse">
                        <thead>
                        <tr>
                            {% if showPosts %}
                                {% include 'admin/table/header/post.html.twig' %}
                            {% else %}
                                {% include 'admin/table/header/comment.html.twig' %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if showPosts %}
                            {% include 'admin/table/body/post.html.twig' %}
                        {% else %}
                            {% include 'admin/table/body/comment.html.twig' %}
                        {% endif %}
                        </tbody>
                    </table>

                </div>

            </div>
            {% include 'paginator.html.twig' with {'paginator': paginator, 'pathName' :  pagePathName } only %}

        </div>
    </section>

{% endblock %}
