<!-- s-extra
================================================== -->
<section class="s-extra">

    <div class="row top">

        <div class="col-eight md-six tab-full popular">
            <h3>Popular Posts</h3>

            <div class="block-1-2 block-m-full popular__posts">
                {% for post in featuredPosts %}
                    {% include 'extraArticle.html.twig' with {'post' : post} only %}
                {% endfor %}

                {% for post in paginator.results | slice(3,3) %}
                    {% include 'extraArticle.html.twig' with {'post' : post} only %}
                {% endfor %}
            </div>
        </div>


        <div class="col-four md-six tab-full about">
            <h3>About Philosophy</h3>

            <p>
                Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in
                ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
            </p>

            <ul class="about__social">
                <li>
                    <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </li>
            </ul> <!-- end header__social -->
        </div> <!-- end about -->
    </div>


    <div class="row bottom tags-wrap">
        <div class="col-full tags">
            <h3>Tags</h3>
            <div class="tagcloud">
                {% for tag in tags %}
                    <a href="{{ path('index', {'tag' : tag.name}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div> <!-- end tagcloud -->
        </div> <!-- end tags -->
    </div> <!-- end tags-wrap -->
</section>